body{
}
.fl{
	float:left;
}
.fr{
	float:right;
}
nav{
	padding:0 6px;
	height:47px;
	background: #c2d6ee;
	font-size: 18px;
	color:#27364d;
	line-height: 46px;
	overflow: hidden;
}
nav .time{
	/*width:calc(100% - 160px);*/
}
nav .system{
	/*width:160px;*/
	margin-top: 8px;
}
.system>a{
	display: inline-block;
	width:30px;
	height:30px;
	background:url(/img/spirit.png) no-repeat;
	margin-left:12px;
}
.system>a:nth-child(1){
	background-position: -130px -6px;
}
.system>a:nth-child(2){
	background-position: -169px -6px;
}
.system>a:nth-child(3){
	background-position: -8px -6px;
}
.system>a:nth-child(4){
	background-position:-47px -6px;
}

.weather{
	padding:0 6px;
	height:60px;
	line-height: 60px;
	background: #5dbe79;
	color:#0d4f20;
	font-size: 20px;
	position: relative;
	overflow: hidden;
	width:100%;
	box-sizing: border-box;
}
.weather>.fr{
}
.weather>.fr>p{
	font-size: 12px;
	color:#fff;
	line-height: 20px;
	word-break: break-all;
}

.news{
	padding:6px;
	position: relative;
}
.news .refreshnews{
	position: absolute;
	top:0;
	right: 0;
}
.news>div{
	width:calc((100% - 14px) / 2);
	padding-right: 4px;
	border-right: 2px solid #5dbe79;
}
.news>div:nth-child(2){
	margin-right: 0;
	margin-left: 4px;
	border-right: 0;
}
.news>div>div{
	width:100%;
	padding:10px 10px;
	border-bottom: 1px solid #efefef;
	box-sizing: border-box;
	/*float:left;*/
}
.news>div>div:nth-child(2n){
	/*float:right;*/
}
.news .content .title{
	height:63px;
	overflow: hidden;
	font-size: 16px;
	line-height: 22px;
}
.news .content .title a{
	color:#222;
	font-weight: bold;
	font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,Arial,sans-serif;
}
.news .content .info span{
	color:#555;
	font-size: 12px;
}
.news .img{
	height: 143px;
	overflow: hidden;
}
.oneimg .img{
	width:40%;
}
.threeimg .img{
	width:100%;
	margin-top:8px;
}
.oneimg .img img{
	width:100%;
}
.threeimg .img img{
	width:32%;
}
.oneimg .content{
	width:59%;
	margin-left: 1%;
}
.threeimg .content .title,.noimg .content .title{
	height:auto;
	line-height: 34px;
}

.map{
	height:400px;
}