<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="vendor/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="vendor/vue.js"></script>
	<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.0&key=57aa7df6e43a4f11bf92ac647e746689"></script>
</head>
<body>
	<div id="index">
		<nav class="clearfix">
			<div class="time fl">
				<span>{{date}}</span>
				<span>{{day}}</span>
				<!-- <span>{{nongli}}</span> -->
			</div>
			<div class="system fr">
				<a @click="back()"></a>
				<a @click="forward()"></a>
				<a @click="refresh()"></a>
				<a @click="fullscreen()"></a>
			</div>
		</nav>
		<section class="weather clearfix">
			<div class="fl">
			<span>{{weather.temp}}℃</span>
			<span class=""></span>
			<span>{{weather.weather}}</span>
			<span>{{weather.templow}}℃-{{weather.temphigh}}℃</span>
			<span>{{weather.winddirect}}{{weather.windpower}}</span>
			<span>{{weather.humidity}}%</span>
			<span v-if="weather.aqi">PM2.5 {{weather.aqi.pm2_5}} {{weather.aqi.quality}}</span>
			</div>
			<div class="fr">
				<p v-for="i in weather.index">{{i.detail}}</p>
			</div>
		</section>
		<section class="map" id="map">
			
		</section>
		<section class="news clearfix">
				<div class="fl">
				<div  v-for="(i,key) in news" class="clearfix" :class='{"oneimg":(!i.thumbnail_pic_s03) && i.thumbnail_pic_s,"threeimg":i.thumbnail_pic_s03,"noimg":!i.thumbnail_pic_s}' v-if="key%2!=1">
					<div class="img fl" v-if="i.thumbnail_pic_s && !i.thumbnail_pic_s03">
						<img :src="i.thumbnail_pic_s">
						<img :src="i.thumbnail_pic_s02">
						<img :src="i.thumbnail_pic_s03">
					</div>
					<div class="content fl">
						<div class="title">
							<a :href="i.url">{{i.title}}</a>
						</div>
						<div class="info">
							<span class="tag">{{i.category}}</span>
							<span class="author">{{i.author_name}}</span>
							<span class="time">{{i.date}}</span>
						</div>
					</div>
					<div class="img fl" v-if="i.thumbnail_pic_s03">
						<img :src="i.thumbnail_pic_s">
						<img :src="i.thumbnail_pic_s02">
						<img :src="i.thumbnail_pic_s03">
					</div>
				</div>
				</div>
				<div class="fr">
				<div  v-for="(i,key) in news" class="clearfix" :class='{"oneimg":(!i.thumbnail_pic_s03) && i.thumbnail_pic_s,"threeimg":i.thumbnail_pic_s03,"noimg":!i.thumbnail_pic_s}'
				v-if="key%2==1">
					<div class="img fl" v-if="i.thumbnail_pic_s && !i.thumbnail_pic_s03">
						<img :src="i.thumbnail_pic_s">
						<img :src="i.thumbnail_pic_s02">
						<img :src="i.thumbnail_pic_s03">
					</div>
					<div class="content fl">
						<div class="title">
							<a :href="i.url">{{i.title}}</a>
						</div>
						<div class="info">
							<span class="tag">{{i.category}}</span>
							<span class="author">{{i.author_name}}</span>
							<span class="time">{{i.date}}</span>
						</div>
					</div>
					<div class="img fl" v-if="i.thumbnail_pic_s03">
						<img :src="i.thumbnail_pic_s">
						<img :src="i.thumbnail_pic_s02">
						<img :src="i.thumbnail_pic_s03">
					</div>
				</div>	
				</div>
				<div class="refreshnews" @click="getNews()" style="position: absolute;top: 0;right: 0">
					刷新
				</div>
		</section>

	</div>
</body>
<script type="text/javascript" src="js/index.js"></script>
</html>